<div class="body-container">
    <h3>Rajouter une tâche ici</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="paperInputs1">Titre</label>
            <input type="text" placeholder="Titre" id="paperInputs1" formControlName="titre">
            <div *ngIf="form.get('titre')?.hasError('required')">
                Le titre est requis.
            </div>
        </div>
        <button class="btn-secondary">Ajouter</button>
    </form>
</div>

